*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;
    font-weight:bold;
}

/* __Nav__ */
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
}
#nav>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;

}
.bucket{
    height: 60px;
    margin-left: -30px;
}
#firstHalf{
    margin-left: -50px;
}
#firstHalf p{
    font-weight: bold;
}
#secondHalf h4{
    margin-left: -20px;
}
#secondHalf div{
    display: flex;
    gap:30px;
    padding-right:20px ;
    border-right: 1px solid rgb(192, 102, 102);
}
#rupee{
    color: rgb(98, 92, 92);
    font-size: smaller;
}


/*  The black div under the navbar */





/* Footer */




/* Footer Complete */
#header-pic{
display: none;
}
#resNav{
display: none;
}
@media only screen and (max-width: 570px){
#header-pic{
display: flex;
height:80px;
}
#header-pic img{
width: 100%;
object-fit: cover;
}
#nav{
display: none;
}
#resNav{
display: flex;
justify-content: space-around;
align-items: center;
background: #fff;
z-index: 100;
position: sticky;
left: 0;
top: 0;
}
.toggle-btn{
width: 20px;
height: 10px;
position: relative;
cursor: pointer;
}
.toggle-btn span{
position: absolute;
width: 100%;
height: 2px;
top: 50%;
transform: translate(-50%);
background: #979797;
}
.toggle-btn span:nth-child(1){
top:0;
}
.toggle-btn span:nth-child(3){
top:100%;
}


/* black Div */
#blackDiv{
margin-top: 0px;
display: block;
height: 80px;
}
#blackDiv p{
text-align: center;
font-size: 14px;
}
#blackDiv button{
display: block;
margin: auto;
margin-top: 10px;
}

#thirdDiv h1{
padding-left: 10px;
}
#main{
    margin: 10px 30px;
    height: 50px;
    display: flex;
    font-size: 16px;
}
/*   Cards  */

#cards{
    margin: 20px 30px;
    min-height: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

/*   Slider   */

#slideShow2{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}
#slideShow2 a:last-child{
    padding-right:20px;
} 

/* Product Container */
#pre-btn{
    width: 40px;
    height: 100%;
    position: absolute;
    left:10%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: transparent
}
#nxt-btn{
    right: -10%;
}
#product-container{
    margin-left: -150px;
}

}


@media only screen and (max-width: 470px){
#slideShow2{
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}
#slideShow2 a:last-child{
    padding-right:10px;
} 
}