#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
}
#nav>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;

}
.bucket{
    height: 60px;
    margin-left: -30px;
}
#firstHalf{
    margin-left: -50px;
}
#firstHalf p{
    font-weight: bold;
}
#secondHalf h4{
    margin-left: -20px;
}
#secondHalf div{
    display: flex;
    gap:30px;
    padding-right:20px ;
    border-right: 1px solid rgb(192, 102, 102);
}
#rupee{
    color: rgb(98, 92, 92);
    font-size: smaller;
}
